{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ section.title }} | {{ super() }}{% endblock %}

{% block description %}
    {% if section.description %}{{ section.description }}{% else %}{{ super() }}{% endif %}
{% endblock %}

{% block content %}
<header>
    <h1>{{ section.title }}</h1>
    {% if section.description %}
    <p>{{ section.description }}</p>
    {% endif %}
</header>

{% if section.paginate_by %}
    {% for page in paginator.pages %}
    <article>
        <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
        {{ macros::post_meta(page=page) }}
        {% if page.description %}
        <p>{{ page.description }}</p>
        {% elif page.summary %}
        {{ page.summary | safe }}
        {% endif %}
        <a href="{{ page.permalink }}">Read more →</a>
    </article>
    {% endfor %}

    {{ macros::pagination(paginator=paginator) }}
{% else %}
    {% for page in section.pages %}
    <article>
        <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
        {{ macros::post_meta(page=page) }}
        {% if page.description %}
        <p>{{ page.description }}</p>
        {% endif %}
        <a href="{{ page.permalink }}">Read more →</a>
    </article>
    {% endfor %}
{% endif %}
{% endblock content %}
